body {
  /* background-image: url(Images\ice-cream.jpg); */
  text-align: center;
  margin: 0;
}

h1{
  color: #150E56;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: bold;
  width: 50%;
  margin: 0 auto .5rem;
}

.top-container {
  /* height: 625px; */
  margin: 0;
  background-image: url("../Images/ice-cream.jpg");
  background-color: #EFFFFD;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

h2 {
  width: 50%;
  margin: 1rem auto 0;
  font-family: 'Harmattan', sans-serif;
  font-size: 2.5rem;
  color: #03506F;
}

h3 {
  /* font-size: 1.5rem; */
  font-family: 'Roboto', sans-serif;
  color: #46B5D1;
}


p {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  /* text-align: left; */
}

.skill-row-1{
  width: 50%;
  margin: 3rem auto;
  text-align: left;
}

/* .skill-row-2{
  width: 50%;
  margin: 0 auto;
  text-align: right;
  padding: 20px;
} */

.second-skill-img{
  width: 15%;
  height: 15%;
  border-radius: 0;
  float: left;
  margin-right: 30px;
}

.first-skill-img{
  width: 15%;
  height: 15%;
  border-radius: 0;
  float: right;
  margin-left: 30px;
}

.my-image{
  position: absolute;
  left : 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.my-image:hover {
  filter: drop-shadow(0 0 0.75rem #42C2FF);
}


.intro{
  width: 50%;
  margin: auto auto;
}

.middle-container{
  margin: 2rem;
}

.sub-title{
  width: 50%;
  margin: 1rem auto 3.1rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 2.5rem;
  color: #03506F;
}

hr{
  border-style: dotted;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 4px;
  color: #69b6e4;
  width: 20%;
}

.btn {
  background: #42C2FF;
  background-image: -webkit-linear-gradient(top, #42C2FF, #2980b9);
  background-image: -moz-linear-gradient(top, #42C2FF, #2980b9);
  background-image: -ms-linear-gradient(top, #42C2FF, #2980b9);
  background-image: -o-linear-gradient(top, #42C2FF, #2980b9);
  background-image: linear-gradient(to bottom, #42C2FF, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #03506F;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


footer {
  background-color: #b9d6de;
  padding: 50px 0 20px;
  margin: 0;
}

.copyright{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  color: #c3ecfa;
  padding: 20px 0
}

.button {
  margin: 2rem auto;
  width: 50%;
}

a{
  color: #69b6e4;
  font-family: 'Roboto', sans-serif;
  margin: 0 30px;
  text-decoration: none;
}

a:hover {
  color: #c3ecfa;
}
