body {
  /* background-image: url(Images\ice-cream.jpg); */
  text-align: center;
  margin: 0;
}

h1{
  color: #150E56;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: bold;
  width: 50%;
  margin: 0 auto .5rem;
}

.top-container {
  /* height: 625px; */
  margin: 0;
  background-image: url("../Images/ice-cream.jpg");
  background-color: #EFFFFD;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 11.1rem;
}

h2 {
  width: 50%;
  margin: 1rem auto 0;
  font-family: 'Harmattan', sans-serif;
  font-size: 2.5rem;
  color: #03506F;
}

h3 {
  /* font-size: 1.5rem; */
  font-family: 'Roboto', sans-serif;
  color: #46B5D1;
}


p {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  /* text-align: left; */
}

.skill-row-1{
  width: 50%;
  margin: 3rem auto;
  text-align: left;
}

/* .skill-row-2{
  width: 50%;
  margin: 0 auto;
  text-align: right;
  padding: 20px;
} */

.second-skill-img{
  width: 15%;
  height: 15%;
  border-radius: 0;
  float: left;
  margin-right: 30px;
}

.first-skill-img{
  width: 15%;
  height: 15%;
  border-radius: 0;
  float: right;
  margin-left: 30px;
}

.my-image{
  position: absolute;
  left : 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #42C2FF);
}


.intro{
  width: 50%;
  margin: auto auto;
}

.middle-container{
  margin: 2rem;
}

.sub-title{
  width: 50%;
  margin: 1rem auto 3.1rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 2.5rem;
  color: #03506F;
}

hr{
  border-style: dotted;

}
